html,
body {
  padding: 0;
  margin: 0;
  font-family: Euclid Circular A, Akzidenz,  Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.header {
  padding: 2% 0% 0% 1%;
  text-align: center;
  background: #4DB33D;
  color: white;
}
